[project]
	description = Gluster Filesystem - (this is only a Gluster 4.0 DHT2 playground mirror)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shyam (ShyamsundarR)
	read = group Anonymous Users
	read = group gluster4_0-dht2
[access "refs/for/refs/*"]
	read = group user/Shyam (ShyamsundarR)
	push = group Registered Users
	push = group gluster4_0-dht2
	push = group user/Shyam (ShyamsundarR)
	label-Code-Review = -2..+2 group user/Shyam (ShyamsundarR)
	label-Verified = -1..+1 group user/Shyam (ShyamsundarR)
	rebase = group user/Shyam (ShyamsundarR)
	removeReviewer = group user/Shyam (ShyamsundarR)
	submit = group user/Shyam (ShyamsundarR)
	pushMerge = group Registered Users
	pushMerge = group gluster4_0-dht2
[access "refs/heads/*"]
	read = group user/Shyam (ShyamsundarR)
	create = group user/Shyam (ShyamsundarR)
	push = +force group user/Shyam (ShyamsundarR)
	pushMerge = group user/Shyam (ShyamsundarR)
	forgeAuthor = group Registered Users
[access "refs/tags/*"]
	push = +force group user/Shyam (ShyamsundarR)
	pushTag = group user/Shyam (ShyamsundarR)
	pushSignedTag = group user/Shyam (ShyamsundarR)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
